DATABASE_USER=postgres      #user padrão (superuser)
DATABASE_HOST=localhost     #host padrão
DATABASE_NAME=seu_banco     #nome do seu banco
DATABASE_PASS=sua_senha     #senha para o user do banco (neste caso, do user postgres)
DATABASE_PORT=5432          #porta padrão

PORT=3001                   #porta de conexão para o servidor back-end